.wrap
	margin 0 auto
	max-width 1100px
	padding 0 10px

//ARTICULO DESTACADO LOOP PERSONALIZADO
.promoted
	background-color #efefef

.promoted-post
	margin-bottom 2em
	position relative

.promoted-post .promoted-data
	background rgba(182,0,80,0.6)
	bottom  40px
	left  20px
	position  absolute
	width 500px
	height auto

.promoted-post .post-image 
	height auto
	max-height 560px
	min-height 300px
 
.promoted-post .post-title-front
	font-size 32px
	text-align left
	margin 20px 20px

	& a
		color white
		text-shadow rgba(0,0,0,0.8) 0px 1px 1px

.promoted-post .promoted-post-meta
	font-style italic
	border-top 2px solid #ccc
	display inline-block
	width 90%
	margin 0px 20px
	font-size 14px

.promoted-post .promoted-author
	text-align left
	display inline-block

.promoted-post-meta .author-img
	display inline-block
	margin 10px 10px
	padding 0px

.promoted-post-meta .author-img img	
	border-radius 50px
	width 40px
	height auto

.promoted-post .post-date
	text-align right
	display inline-block
	line-height 50px



//ARTICULO INDIVIDUAL LOOP PERSONALIZADO
article.post
	display inline-block
	margin 0 2% 1em 0
	overflow hidden
	vertical-align top
	width 30.7%


.post-title-front
	text-align center
	font-size 22px

.post-image-front
	text-align center
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
	background  rgb(206,220,231)  /* Old browsers */
	background  -moz-linear-gradient(top, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%)  /* FF3.6+ */
	background  -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1)))  /* Chrome,Safari4+ */
	background  -webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%)  /* Chrome10+,Safari5.1+ */
	background  -o-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%)  /* Opera 11.10+ */
	background  -ms-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%)  /* IE10+ */
	background  linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%)  /* W3C */
	padding 10px 10px

.post-image-front img
	height 120px
	width 120px

footer.post-meta
	margin 30px auto
	width 90%
	font-style italic
	border-bottom 2px solid #ccc

.author
	float left
	width 55%
	text-align left

.post-date
	float right
	width 45%
		text-align right

//FOOTER DE BLOG
.blog-footer
	margin 0px auto
	display inline-block
	width 100%


//PAGINACIÓN
.pagination
	color  #666
	font-family  'Montserrat', sans-serif
	margin  1.5em 0 3em
	text-align  center
	width 100%
	
.pagination a
	background  #eaeaea 
	border  1px solid #ccc 
	color  #666 
	display  inline-block 
	font-weight  bold 
	margin-left  1em 
	padding  0.5em 0.7em 
	text-decoration  none
	

.page-numbers
	display inline-block
	padding 5px 10px
	margin 0 2px 0 0
	border 1px solid #eee
	line-height 1
	text-decoration none
	border-radius 2px
	font-weight 600

.page-numbers.current,
a.page-numbers:hover 
	background #f9f9f9

