.post-template .post-header
	background-color #191919
	position relative

.post-info
	width 90%
	font-style italic
	border-top 2px solid #ccc
	margin-bottom 25px
	display inline-block

.autor-single
	float left
	width 55%
	text-align left
	display inline-block

.autor-img
	display inline-block
	margin 10px

.autor-img img	
	border-radius 50px
	width 40px
	height auto

.fecha-single
	margin-top 20px
	float right
	width 45%
	text-align right

.post-title
	position absolute
	top 450px
	width 70%
	color white
	text-shadow rgba(0,0,0,0.8) 0px 1px 1px
	font-size 48px

.post-image img
	width 100%
	height 450px

.categoria
	position absolute
	width 100px
	height 30px
	top 250px
	left 30px
	color white
	background-color $atenea_rojo

	& a
		color white
		font-size 24px
		font-weigh 900
		margin-left 15px
		line-height 30px